:root {
  --spotify-green: rgba(29, 185, 84, 100);
  --default-playlist-header-colour: rgba(0, 0, 0, 0);
  --playlist-header-colour: rgba(0, 0, 0, 0);
  --light-background-charcoal: #2a2a2a;
  --background-charcoal: #121212;
  /* make sure the images are in a container with container-size: inline-size */
  --listing-image-size: clamp(6rem, 15cqw, 100%);
  --max-content-width: 640px;
  --main-grid-row: 1fr min(100%, var(--max-content-width)) 1fr;
  --footer-height: 6rem;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-charcoal);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* make 1rem equivalent to approx 10px */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}

/* We'll set up a simple grid as a way to place our content in the middle of a big screen and simply take up the whole screen when it's smaller than --max-content-width */
.app-layout {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  display: grid;
  grid-template-columns: var(--main-grid-row);
  /* 1fr min(100%, var(--max-content-width)) 1fr; */
  grid-template-areas: 'gutter-start main gutter-end';
}

/* Using the overlayscrollbars package instead of overflow: auto */
.main-content {
  grid-area: main;
  margin-bottom: var(--footer-height);
  /* overflow-y: auto; */
}

footer {
  container: footer-container / inline-size;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-height);
  display: grid;
  grid-template-columns: var(--main-grid-row);
  /* gap: 10px; */
  grid-template-areas: '. footer-main .';
}

.footer-content {
  grid-area: footer-main;
  display: flex;
  width: 100%;
  justify-content: center;
}

ul {
  margin: 0;
  /* display: contents; */
  /* max-width: 480px; */
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.user-image {
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}
.user-image img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
}

.listing-image {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: var(--listing-image-size);
  height: var(--listing-image-size);
  /* max-width: 100%;
  max-height: 100%; */
  border-radius: calc(var(--listing-image-size) / 15);
  display: 'inline-block';
}

.listing-image-placeholder {
  /* width: var(--listing-image-size);
  height: var(--listing-image-size); */
  display: inline-block;
  background-color: #dddddd;
}

a,
.icon-button {
  color: var(--spotify-green);
}

.clear-button {
  padding-inline: 0.25rem;
  padding-block: 0.25rem;
  background-color: rgba(0, 0, 0, 0);
  transition: scale 0.25s;

  &:hover {
    scale: 1.2;
    border-color: rgba(0, 0, 0, 0);
  }

  &:focus,
  &:focus-visible {
    outline-style: none;
  }
}

.playlist-header-colour {
  --mixed-colour: color-mix(
    in lch increasing hue,
    var(--playlist-header-colour) 60%,
    var(--background-charcoal)
  );
  /* background-color: var(--playlist-header-colour); */
  background: linear-gradient(
    180deg,
    var(--playlist-header-colour),
    40%,
    var(--mixed-colour),
    var(--background-charcoal) 95%
  );
  margin-bottom: 0;
}

.playlist-header-container {
  /* container: playlist-header / size; This makes it collapse in height*/
  container: playlist-header / inline-size;
}

/* .playlist-item-container {
  container: playlist-item / inline-size;
} */

.interactive-listing-item {
  padding-block: 0.2rem;
  border-radius: 0.6rem;
  container: listing-item / inline-size;
  width: 100%;
  height: fit-content;
  /* background-color: var(--background-charcoal); */

  &:hover {
    background-color: var(--light-background-charcoal);
  }
}

.back-button {
  display: block;
  font-size: 2rem;
  position: sticky;
  top: 0;
}

.list-container {
  container: list-container / inline-size;
  /* margin-top: 0; */
  /* max-width: 480px; */
  /* display: flex;
  justify-content: center; */
  background-color: var(--background-charcoal);
}

.playlist-page-colour {
  background-color: var(--playlist-header-colour);
}

.spinner-container {
  container-type: inline-size;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: min(30cqw, 30cqh, 60px);
  height: min(30cqw, 30cqh, 60px);
  border: 5px solid var(--spotify-green);
  border-bottom-color: rgba(29, 185, 84, 0.6);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
