:root {
  --spotify-green: rgba(29, 185, 84, 100);
  --default-playlist-header-colour: rgba(0, 0, 0, 0);
  --playlist-header-colour: rgba(0, 0, 0, 0);
  --light-background-charcoal: #2a2a2a;
  --background-charcoal: #121212;
  --dark-background-charcoal: #090909;
  --colour-white: rgba(255, 255, 255, 0.87);
  /* make sure the images are in a container with container-size: inline-size */
  --listing-image-size: 5rem;
  /* --listing-image-size: minmax(6rem, 5cqw); This was causing all sorts of layout issues so I've just gone for a fixed size */
  --header-image-size: clamp(10rem, 30cqw, 100%);
  --max-content-width: 960px;
  --main-grid-row: 1fr min(100%, var(--max-content-width)) 1fr;
  --footer-height: 6rem;
  --back-button-size: clamp(2rem, 4dvh, 3rem);

  color-scheme: light dark;
  color: var(--colour-white);
  background-color: var(--dark-background-charcoal);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* make 1rem equivalent to approx 10px */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}

/* We'll set up a simple grid as a way to place our content in the middle of a big screen and simply take up the whole screen when it's smaller than --max-content-width */
.app-layout {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  display: grid;
  grid-template-columns: var(--main-grid-row);
  /* 1fr min(100%, var(--max-content-width)) 1fr; */
  grid-template-areas: 'gutter-start main gutter-end';
}

/* Using the overlayscrollbars package instead of overflow: auto */
.main-content {
  grid-area: main;
  margin-bottom: var(--footer-height);
  /* overflow-y: auto; */
}

footer {
  container: footer-container / inline-size;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-height);
  display: grid;
  grid-template-columns: var(--main-grid-row);
  /* gap: 10px; */
  grid-template-areas: '. footer-main .';
}

.footer-content {
  grid-area: footer-main;
  display: flex;
  width: 100%;
  justify-content: center;
}

ul {
  margin: 0;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
  /* padding-bottom: 1.2rem; */
}
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.user-image {
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}
.user-image img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
}

/* used in ImagePx */
.listing-image {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: var(--listing-image-size);
  height: var(--listing-image-size);
  border-radius: calc(var(--listing-image-size) / 15);
  display: 'inline-block';
}

.listing-image-placeholder {
  display: inline-block;
  background-color: #dddddd;
}

.icon-button {
  color: var(--spotify-green);
  font-size: 2rem;
}

.clear-button {
  /* padding-inline: 0.25rem;
  padding-block: 0.25rem; */
  background-color: rgba(0, 0, 0, 0);
  transition: scale 0.25s;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    scale: 1.2;
    border-color: rgba(0, 0, 0, 0);
  }

  &:focus,
  &:focus-visible {
    outline-style: none;
  }
}

.playlist-header-colour {
  --mixed-colour: color-mix(
    in lch increasing hue,
    var(--playlist-header-colour) 20%,
    var(--background-charcoal)
  );
  /* background-color: var(--playlist-header-colour); */
  background: linear-gradient(
    180deg,
    var(--playlist-header-colour),
    40%,
    var(--mixed-colour),
    var(--background-charcoal) 95%
  );
  margin-bottom: 0;
}

.playlist-header-container {
  /* container: playlist-header / size; This makes it collapse in height*/
  container: playlist-header / inline-size;
}

.playlist-header-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  column-gap: 1rem;
  padding-inline: 2rem;
}

.playlist-header-info {
  display: flex;
  flex-direction: column;

  & h2 {
    font-size: 9cqw;
    letter-spacing: -0.5cqw;
    line-height: 1;
    padding-right: 2rem;
    padding-bottom: 2cqw;
  }
}

.playlist-header-user {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  & h3 {
    font-size: min(1.5rem, 4cqw);
    white-space: nowrap;
  }
  & p {
    font-size: min(1.5rem, 3cqw);
    font-weight: 300;
  }
}

.playlist-header-image {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: var(--header-image-size);
  height: var(--header-image-size);
  border-radius: calc(var(--header-image-size) / 15);
  display: 'inline-block';
  /* padding-inline: 2rem; */
  /* padding-block: 0; */
  /* margin-left: 2rem; */
}

.back-button {
  display: block;
  font-size: var(--back-button-size);
  position: sticky;
  top: 0;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  z-index: 10;
}

.track-name-font {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: +0.02rem;
  /* display: block; This stops the ellipsis from working*/
}

/* .artist-name-font {
  font-size: 1.3rem;
  font-weight: 300;
  font-kerning: normal;
  letter-spacing: +0.015rem;
} */

.ellipsis-text-block {
  white-space: nowrap;
  /* min-width setting is a fix when it's inside a flex or grid container according to the mighty ai */
  min-width: 0;
  height: fit-content;
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-container {
  container: list-container / inline-size;
  background-color: var(--background-charcoal);
  padding: 2rem;
  /* margin-inline: 0.5rem; no because the background of the container is set to header colour for the back button */
}

/* all of the grid cells, other than the header, contents to get the hover colour change to work */
.list-row:not(.list-header, .notes-row):hover > div {
  background-color: var(--light-background-charcoal);
  /* we just want this on the first and last column */
  &:is(.col-title) {
    border-radius: 0.6rem 0 0 0.6rem;
  }

  &:is(.col-buttons) {
    border-radius: 0 0.6rem 0.6rem 0;
  }
}

/* attempt to make the rows with collapsing columns for the playlist tracks - works nicely :)
img/title/artist | album | added by | date added | runtime | buttons
*/
.track-list-table {
  display: grid;
  grid-template-columns: 2fr minmax(150px, 1fr) 1.2fr 1fr 0.3fr auto;
  /* gap: 1rem; */
}

.playlist-list-table {
  display: grid;
  grid-template-columns: 1fr 60px;
}

.col-playlist-tracks {
  text-align: right;
}

.col-notes {
  grid-column: 1/4;
}

.col-title {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 5px;
  /* justify-items: end; */
}

/* remove date added column */
@container list-container (width < 820px ) {
  .track-list-table {
    grid-template-columns: 2fr minmax(150px, 1fr) 1.2fr 0.3fr auto;
  }

  .col-date-added {
    display: none;
  }
}
/* remove added by column */
@container list-container (width < 700px ) {
  .track-list-table {
    grid-template-columns: 2fr minmax(150px, 1fr) 0.3fr auto;
  }

  .col-added-by {
    display: none;
  }

  .col-notes {
    grid-column: 1/3;
  }
}
/* remove runtime column */
@container list-container (width < 550px ) {
  .track-list-table {
    grid-template-columns: 2fr minmax(150px, 1fr) auto;
  }

  .col-runtime {
    display: none;
  }
}
/* remove album column */
@container list-container (width < 400px ) {
  .track-list-table {
    grid-template-columns: 2fr auto;
  }

  .col-album {
    display: none;
  }

  .col-notes {
    grid-column: 1;
  }
}

/* apparently you can then make the children of a div act as items within a parent grid with this line */
.list-row,
.list-row > form {
  display: contents;
}

.notes-row > div,
.notes-row > form > div {
  background-color: var(--light-background-charcoal);
  border-bottom: 1px solid var(--colour-white);
  /* border-top: 2px dotted var(--colour-white); */

  &:is(.col-notes) {
    margin-left: 1px;
    border-radius: 0 0 0 0.8rem;
    border-left: 1px solid var(--colour-white);
  }

  &:is(.col-buttons) {
    /* margin-right: 5px; */
    /* border-radius: 0 0 0.8rem 0; */
    border-right: 1px solid var(--colour-white);
  }
}

.notes-row > form > div > textarea {
  width: 100%;
  /* for browsers that support it... */
  field-sizing: content;
  min-height: 6rem;
  padding: 0.5rem;
  height: fit-content;
  resize: vertical;
  font-family: inherit;
  font-size: inherit;
  font-weight: 200;
  letter-spacing: 0.1rem;
  border-radius: 0 0 0 0.6rem;

  &:focus {
    /* help with legibility whilst writing */
    background-color: var(--dark-background-charcoal);
    outline: none;
  }
}

.list-row > div,
.list-header > div,
.list-row > form > div {
  font-size: 1.3rem;
  font-weight: 300;
  font-kerning: normal;
  letter-spacing: +0.015rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  align-content: center;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s ease;
}

.list-row > form > div {
  padding-block: 0.7rem;
}

/* for the PlaylistItem */
.list-row[role='button'] > div {
  cursor: pointer;
}

.list-header > div {
  position: sticky;
  padding-top: var(--back-button-size);
  top: 0;
  background-color: var(--background-charcoal);
  font-weight: 400;
  border-bottom: 2px solid var(--light-background-charcoal);
}

.playlist-page-colour {
  background-color: var(--playlist-header-colour);
}

.spinner-container {
  container-type: inline-size;
  width: 100%;
  height: 100dvh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: min(30cqw, 30cqh, 60px);
  height: min(30cqw, 30cqh, 60px);
  border: 5px solid var(--spotify-green);
  border-bottom-color: rgba(29, 185, 84, 0.6);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
