:root {
  --spotify-green: rgba(29, 185, 84, 100);
  --default-playlist-header-colour: rgba(0, 0, 0, 0);
  --playlist-header-colour: rgba(0, 0, 0, 0);
  --light-background-charcoal: #2a2a2a;
  --lighter-background-charcoal: #3a3a3a;
  --background-charcoal: #121212;
  --dark-background-charcoal: #090909;
  --colour-white: rgba(255, 255, 255, 0.87);
  /* make sure the images are in a container with container-size: inline-size */
  /* --listing-image-size: minmax(6rem, 5cqw); This was causing all sorts of layout issues so I've just gone for a fixed size */
  --listing-image-size: 5rem;
  --header-image-size: clamp(10rem, 30cqw, 100%);
  --max-content-width: 960px;
  --main-grid-row: 1fr min(100%, var(--max-content-width)) 1fr;
  /*--footer-height: min(70px, 7dvh);*/
  --footer-height: 60px;
  --back-button-size: clamp(2rem, 4dvh, 3rem);

  color-scheme: light dark;
  color: var(--colour-white);
  background-color: var(--dark-background-charcoal);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* make 1rem equivalent to approx 10px */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}

button {
  background-color: var(--spotify-green);
  color: var(--colour-white);
  border: 1px solid var(--colour-white);
}

button:disabled {
  cursor: not-allowed;
  text-decoration: line-through;
  background-color: var(--lighter-background-charcoal);
}

ul {
  margin: 0;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  cursor: default;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
  cursor: default;
}

p {
  cursor: default;
}

header {
  grid-area: header;
  height: 5dvh;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  column-gap: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* header button {
  font-size: max(1rem, 2dvh);
  font-weight: 600;
  padding: 0.8dvh 1.5dvh;
  border-radius: 2.8dvh;
  margin-top: 0.8dvh;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

header button:hover {
  background-color: var(--lighter-background-charcoal);
} */

.header-logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  /* justify-content: center; */
}

header h2 {
  display: inline-block;
  font-size: max(1.5rem, 3dvh);
  margin-right: 15px;
  cursor: default;
}

.header-icon {
  display: inline-block;
  height: 3.5dvh;
  width: auto;
}

/* Using the popoverAPI which provides an anchor to the toggle button */
.add-current-note-container {
  width: min(96dvw, calc(var(--max-content-width) - 1.5rem));
  height: fit-content;
  position: absolute;
  top: calc(anchor(bottom) + 0.5rem);
  left: anchor(left);
  border: 1px solid var(--spotify-green);
  border-radius: 20px;
}

footer {
  container: footer-container / inline-size;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-height);
  padding-block: 0.3rem;
  display: grid;
  grid-template-columns: var(--main-grid-row);
  /* gap: 10px; */
  grid-template-areas: '. footer-main .';
}

.offline-page {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 99dvw;
  text-align: center;
  padding: 2rem;
}

.offline-page img {
  aspect-ratio: initial;
  object-fit: contain;
  width: min(40cqw, 40cqh, 300px);
}

/* We'll set up a simple grid as a way to place our content in the middle of a big screen and simply have main-content take up the whole screen when it's smaller than --max-content-width via the --main-grid-row definition */
.app-layout {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  display: grid;
  grid-template-columns: var(--main-grid-row);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    '. header .'
    'gutter-start main gutter-end';
}

.landing-content {
  grid-area: main;
  container-type: inline-size;
  border-radius: max(10dvw, 10dvh) 0 0 0;
  background-color: var(--light-background-charcoal);
  margin-top: 1dvh;
  margin-bottom: 3dvh;
  margin-inline: 3dvw;
  overflow: clip;
}

.landing-ident {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0 0 0 max(20cqw, 15cqh);
  border-bottom: 3px solid var(--spotify-green);
  padding: max(0.6cqh, 0.6cqw) 0 0 max(0.6cqh, 0.6cqw);
}

.landing-content h1 {
  color: #ffffff;
  font-size: max(15cqw, 8cqh);
}

.landing-content h1.name {
  transform: translateY(-8%) translateX(-5%);
}

.landing-logo {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: max(20cqw, 15cqh);
  max-width: 100%;
}

.landing-content h2 {
  font-size: max(3cqw, 3cqh);
  padding-inline: 2cqw;
  padding-block: 2cqh;
  text-align: center;
}

.landing-content p {
  font-size: max(2cqw, 2cqh);
  padding-inline: 2cqw;
  text-align: center;
}
/* Landing page section with the screenshot image and text */
.demo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 2cqh;
  padding-inline: 2cqw;
  border-block: 1px solid var(--spotify-green);
  margin-block: 2cqh;
  margin-inline: 2cqw;
}

.demo-section :is(h2, p) {
  text-align: left;
}

.demo-section img {
  aspect-ratio: auto;
  object-fit: contain;
  width: 40cqw;
  max-width: max-content;
}

@container (width < 600px) {
  .demo-section {
    flex-direction: column;
    align-items: center;
  }
  .demo-section :is(h2, p) {
    text-align: center;
  }
  .demo-section img {
    width: 80cqw;
    max-width: max-content;
  }
}

/* for both the Error component and for when acess-denied is returned from spotify whilst requesting a code */
.error-content {
  grid-area: main;
  width: 100%;
  height: 100%;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.error-content button {
  font-size: 1.8rem;
  font-weight: 600;
  /* color: #df0909; */
  padding: 0.8rem 1.5rem;
  border-radius: 2.6rem;
}

.error-content h2 {
  color: red;
}

/* Using the overlayscrollbars package instead of overflow: auto */
.main-content {
  grid-area: main;
  margin-bottom: var(--footer-height);
  border-radius: 20px 20px 0 0;
  margin-inline: 5px;
  /* overflow-y: auto; */
}

.footer-content {
  grid-area: footer-main;
  display: flex;
  width: 100%;
  justify-content: center;
}

/* width and height are set within the UserImage component */
.user-image {
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}
.user-image img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
}

.user-button-menu {
  display: flex;
  align-items: center;
  width: 60px;
  position: relative;
  /* if overflow-x is set to hidden then overflow-y isn't visible, whereas when set to clip it keeps them seperate */
  overflow-y: visible;
  overflow-x: clip;
  transition: all 0.4s ease-out;
}

.main-user-toggle {
  max-height: 100%;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border 0.6s ease-in;
  z-index: 2;
}

.user-button-menu.is-expanded .main-user-toggle {
  border-right: 2px solid var(--dark-background-charcoal);
}

.user-button-menu.is-expanded {
  width: 260px;
  border-radius: 2rem;
}

.user-sub-buttons {
  display: flex;
  gap: 2px;
  background-color: rgba(
    29,
    185,
    84,
    0.5
  ); /* Slightly transparent green background */
  padding: 0.3rem;
  border-radius: 20px;
  opacity: 0;
  pointer-events: none; /* Prevents interaction when hidden */
  transform: translateX(-100%) scale(0.3);
  transition: opacity 0.3s ease, transform 0.6s ease;
}

.user-button-menu.is-expanded .user-sub-buttons {
  opacity: 1;
  pointer-events: auto; /* Enables interaction when visible */
  transform: translateX(-25px) scale(1);
}

.user-sub-btn {
  background-color: var(--light-background-charcoal);
  border: 1px solid #1db954;
  color: var(--colour-white);
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
  transform: translateX(-100%) scale(0.8);
  transition: background-color 0.3s ease;
  /* let's get them overlapping */
  padding-left: 30px;
}

.user-button-menu.is-expanded .user-sub-btn {
  transform: translateX(0) scale(1);
}

.user-sub-btn:hover {
  background-color: var(--lighter-background-charcoal);
}

.user-sub-btn:disabled {
  color: var(--background-charcoal);
  cursor: not-allowed;
}

.user-sub-btn:first-of-type {
  /* to make up for the translateX(-25px) of user-sub-buttons */
  padding-left: 25px;
  z-index: 1;
  transition: transform 0.4s ease 0.2s;
}

.user-sub-btn:last-of-type {
  transform: translateX(-300%) scale(0.8);
  transition: transform 0.4s ease-out 0.3s;
  margin-left: -25px;
}

/* used in ImagePx */
.listing-image {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: var(--listing-image-size);
  height: var(--listing-image-size);
  border-radius: calc(var(--listing-image-size) / 15);
  display: 'inline-block';
}

.listing-image-placeholder {
  display: inline-block;
  background-color: #dddddd;
}

.icon-button {
  color: var(--spotify-green);
  font-size: 2rem;
}

.icon-button:disabled {
  color: var(--lighter-background-charcoal);
}

.add-current-note-button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid transparent;
  cursor: pointer;
}

.add-current-note-button:focus,
.add-current-note-button:focus-visible {
  outline-style: none;
}

.clear-button {
  background-color: rgba(0, 0, 0, 0);
  transition: scale 0.25s;
  border: 1px solid transparent;
  cursor: pointer;
}

.clear-button:hover {
  scale: 1.2;
  border-color: rgba(0, 0, 0, 0);
}

.clear-button:focus,
.clear-button:focus-visible {
  outline-style: none;
}

.playlist-header-colour {
  --mixed-colour: color-mix(
    in lch increasing hue,
    var(--playlist-header-colour) 20%,
    var(--background-charcoal)
  );
  /* background-color: var(--playlist-header-colour); */
  background: linear-gradient(
    180deg,
    var(--playlist-header-colour),
    40%,
    var(--mixed-colour),
    var(--background-charcoal) 95%
  );
  margin-bottom: 0;
}

.playlist-header-container {
  /* container: playlist-header / size; This makes it collapse in height*/
  container: playlist-header / inline-size;
}

.playlist-header-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  column-gap: 1rem;
  padding-inline: 2rem;
}

.playlist-header-info {
  display: flex;
  flex-direction: column;
}

.playlist-header-info .clamp-wrapper {
  padding-right: 2rem;
  padding-bottom: 2cqw;
}

.playlist-header-info h2 {
  font-size: 9cqw;
  letter-spacing: -0.5cqw;
  line-height: 1;
}

.playlist-header-info h2.clamped {
  /* going to add clamping to avoid the header being too big if the playlist name is very long, and on a small screen */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow-y: clip;
  text-overflow: ellipsis;

  /* Limit to a maximum of 2 rows of wrapped text */
  -webkit-line-clamp: 3;
  line-clamp: 3; /* For forward compatibility */
}

.playlist-header-user {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  flex-wrap: wrap;
  column-gap: 0.5rem;
}

.playlist-header-user h3 {
  font-size: min(1.5rem, 4cqw);
  white-space: nowrap;
}
.playlist-header-user p {
  font-size: min(1.5rem, 3cqw);
  font-weight: 300;
}

.playlist-header-image {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: var(--header-image-size);
  height: var(--header-image-size);
  border-radius: calc(var(--header-image-size) / 15);
  display: 'inline-block';
}

.back-button {
  display: block;
  font-size: var(--back-button-size);
  color: var(--colour-white);
  position: sticky;
  top: 0;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  z-index: 10;
}

.track-name-font {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: +0.02rem;
  /* display: block; This stops the ellipsis from working*/
}

.ellipsis-text-block {
  white-space: nowrap;
  /* min-width setting is a fix when it's inside a flex or grid container according to the mighty ai */
  min-width: 0;
  height: fit-content;
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-container {
  container: list-container / inline-size;
  background-color: var(--background-charcoal);
  padding: 2rem;
  /* margin-inline: 0.5rem; no because the background of the container is set to header colour for the back button */
}

/* all of the grid cells, other than the header, contents to get the hover colour change to work */
.list-row:not(.list-header, .notes-row):hover > div {
  background-color: var(--light-background-charcoal);
}

/* we just want this on the first and last column */
.list-row:not(.list-header, .notes-row, .note-open):hover > div:is(.col-title) {
  border-radius: 0.6rem 0 0 0.6rem;
}

.list-row:not(.list-header, .notes-row, .note-open):hover
  > div:is(.col-buttons) {
  border-radius: 0 0.6rem 0.6rem 0;
}

.note-open > div {
  background-color: var(--light-background-charcoal);
  /* border-radius: 0 0.6rem 0 0; */
  border-top: 1px solid var(--colour-white);
}

.note-open > div:is(.col-buttons) {
  border-radius: 0 0.8rem 0 0;
  border-right: 1px solid var(--colour-white);
}
.note-open > div:is(.col-title) {
  /* border-radius: 0 0.8rem 0 0; */
  border-left: 1px solid var(--colour-white);
}

.note-open:hover > div {
  background-color: var(--lighter-background-charcoal) !important;
}

/* attempt to make the rows with collapsing columns for the playlist tracks - works nicely :)
img/title/artist | album | added by | date added | runtime | buttons
*/
.track-list-table {
  display: grid;
  grid-template-columns: 2fr minmax(150px, 1fr) 1.2fr 1fr 0.3fr auto;
  /* gap: 1rem; */
}

.playlist-list-table {
  display: grid;
  grid-template-columns: 1fr 60px;
}

.col-playlist-tracks {
  text-align: right;
}

.col-notes {
  grid-column: 1/4;
}

.col-title {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 5px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  /* transparent border to stop the slight shift when the note is opened/closed */
}

.col-buttons {
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  /* transparent border to stop the slight shift when the note is opened/closed */
}

/* remove date added column */
@container list-container (width < 820px ) {
  .track-list-table {
    grid-template-columns: 2fr minmax(150px, 1fr) 1.2fr 0.3fr auto;
  }

  .col-date-added {
    display: none;
  }
}
/* remove added by column */
@container list-container (width < 700px ) {
  .track-list-table {
    grid-template-columns: 2fr minmax(150px, 1fr) 0.3fr auto;
  }

  .col-added-by {
    display: none;
  }

  .col-notes {
    grid-column: 1/3;
  }
}
/* remove runtime column */
@container list-container (width < 550px ) {
  .track-list-table {
    grid-template-columns: 2fr minmax(150px, 1fr) auto;
  }

  .col-runtime {
    display: none;
  }
}
/* remove album column */
@container list-container (width < 400px ) {
  .track-list-table {
    grid-template-columns: 2fr auto;
  }

  .col-album {
    display: none;
  }

  .col-notes {
    grid-column: 1;
  }
}

/* apparently you can then make the children of a div act as items within a parent grid with this line */
.list-row,
.list-row > form {
  display: contents;
}

.notes-row > div,
.notes-row > form > div {
  background-color: var(--light-background-charcoal);
  border-bottom: 1px solid var(--colour-white);
  /* border-top: 2px dotted var(--colour-white); */
}

.notes-row > div:is(.col-notes),
.notes-row > form > div:is(.col-notes) {
  /* margin-left: 1px; */
  border-radius: 0 0 0 0.8rem;
  border-left: 1px solid var(--colour-white);
}

.notes-row > div:is(.col-buttons),
.notes-row > form > div:is(.col-buttons) {
  /* margin-right: 5px; */
  /* border-radius: 0 0 0.8rem 0; */
  border-right: 1px solid var(--colour-white);
}

.notes-row > form > div > textarea {
  width: 100%;
  /* for browsers that support it... */
  field-sizing: content;
  min-height: 6rem;
  padding: 0.5rem;
  height: fit-content;
  resize: vertical;
  font-family: inherit;
  font-size: inherit;
  font-weight: 200;
  letter-spacing: 0.1rem;
  border-radius: 0 0 0 0.6rem;
  /* for firefox */
  background-color: var(--light-background-charcoal);
  color: var(--colour-white);
}

.notes-row > form > div > textarea:focus {
  /* help with legibility whilst writing */
  background-color: var(--dark-background-charcoal);
  color: var(--colour-white);
  font-size: 1.6rem;
  outline: none;
}

.list-row > div,
.list-header > div,
.list-row > form > div {
  font-size: 1.3rem;
  font-weight: 300;
  font-kerning: normal;
  letter-spacing: +0.015rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  align-content: center;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s ease;
}

.list-row > form > div {
  padding-block: 0.7rem;
}

/* for the PlaylistItem */
.list-row[role='button'] > div {
  cursor: pointer;
}

.list-header > div {
  position: sticky;
  padding-top: var(--back-button-size);
  top: 0;
  background-color: var(--background-charcoal);
  font-weight: 400;
  border-bottom: 2px solid var(--light-background-charcoal);
}

.playlist-page-colour {
  background-color: var(--playlist-header-colour);
}

.spinner-container {
  container-type: inline-size;
  width: 100%;
  height: 100dvh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: min(30cqw, 30cqh, 60px);
  height: min(30cqw, 30cqh, 60px);
  border: 5px solid var(--spotify-green);
  border-bottom-color: rgba(29, 185, 84, 0.6);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
